services:
  php:
    build: .
    container_name: laravel-php
    restart: unless-stopped
    volumes:
      - ./src:/var/www/html
    networks:
      - internal

  nginx:
    image: nginx:alpine
    container_name: laravel-nginx
    restart: unless-stopped
    ports:
      - "8081:80"
    volumes:
      - ./src:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nginx.rule=Host(`${HOST}`) && PathPrefix(`/`)"
      - "traefik.http.routers.nginx.middlewares=portainer-prefix"
      - "traefik.http.middlewares.portainer-prefix.stripprefix.prefixes=/"
      - "traefik.http.middlewares.portainer-prefix.stripprefix.forceslash=false"

    networks:
      - internal
      - proxy

  db:
    image: mysql:8
    container_name: laravel-db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: laravel-app
      MYSQL_ROOT_PASSWORD: linuxlinux
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - internal

volumes:
  dbdata:

networks:
  internal:
  proxy:
    external: true
