services:
  php:
    build: .
    container_name: laravel-php
    restart: unless-stopped
    volumes:
      - ./src:/var/www/html
    networks:
      - internal

  nginx:
    image: nginx:alpine
    container_name: laravel-nginx
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - internal
      - web

  db:
    image: mysql:8
    container_name: laravel-db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: laravel-app
      MYSQL_ROOT_PASSWORD: linuxlinux
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - internal

volumes:
  dbdata:

networks:
  internal:
  web:
    external: true
